*, *:before, *:after {
  box-sizing: border-box;
}

::-webkit-scrollbar{
width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
background: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(117, 117, 117);
border: 1px solid rgb(31, 27, 83);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(0, 127, 40);
}
.App {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.Header {
  flex: 1;
  height: 3rem;
  z-index: 10;
  background-color: rgb(39, 0, 98);
  border-bottom: 0.1rem solid black;
  font-size: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;  
  padding: 0 1rem;
  font-weight: 700;
  color: white;
  
}

.App-Main_View {
  padding-top: 3rem;
  flex: 1;
  display: flex;
  height: calc(100%);
  background-color: whitesmoke;
  flex-direction: column ;
  overflow-y: auto;
  overflow-x: hidden; 
  position: absolute;
}
.App-Splash_Left {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: red;
  left: 0%;
  animation: splash_lt 1s ease-in;
}
.App-Splash_Right {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0%;
  background-color: red;
  animation: splash_rt 1s ease-in;
}

.App-Splash_Logo {
  opacity: 0;
  font-size: 1.5rem;
  z-index: 10;
  animation: splash_logo 0.7s 1.4s ease-in forwards; 
}
.App-Splash_Wrapper {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  animation: splash_close 1.4s 3.2s forwards;
  z-index: 10;
}
.App-Main-Section {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-Main-Section-Header {
  width: 100%;
  position: relative;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.App-Main-Profile {
width: 300px;
height: 300px;
min-width: 300px;
display: flex;
justify-content: center;
align-items: center;
}
.App-Main-Profile > img{
border-radius: 100%;
border: 2px solid white;
}

.App-Main-Profile-Info {
  background-color: green;
  height: auto;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.App-Main-Profile-Info > div {
  background-color: purple;
  width: 95%;
  min-height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
}

.App-Main-Projects_Wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  flex: 1;
}
.App-Main-Blog_Wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  flex: 1;
}
.App-Main-Traits_Wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex: 1;
  background-color: black;
}
.App-Main-Projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  background-color: teal;
}
.App-Main-Traits {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  background-color: teal;
}
.App-Main-Blog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  background-color: purple;
}

.App-Main-Projects_Wrapper header,
.App-Main-Blog_Wrapper header{
  width: 100%;
  height: 3rem;
  padding: 1rem 0;
  display: flex;
  justify-content: left;
  padding-left: 1rem;
  align-items: center;
  background-color: rgb(78, 3, 3);
  color: white; 

}



.App-Main-Projects > div  {
  margin: 1.2rem;
}
.App-Main-Traits > div  {
  margin: 1.2rem;
}
.App-Main-Blog > div  {
  margin: 1.2rem;
}

.App-Main-Menu-Close, .App-Main-Menu-Open {
  height: 100%;
  width: 300px;
  background-color: gray;
  position: fixed;
  top:3rem;
  z-index: 8;
}
.App-Main-Menu-Close {
  animation: menu_close 1s forwards;
}

.App-Main-Menu-Open {
  animation: menu_open 1s forwards;
}

@keyframes splash_lt{
  0%{ left: -100%}
  100%{left: 0}
}
@keyframes splash_rt{
  from{right: -100%}
  to{right: 0}
}
@keyframes splash_logo {
  from{opacity: 0}
  to{opacity: 1}
}
@keyframes splash_close {
  from{opacity: 1; height: 100%;}
  to{opacity: 1; height: 0;}
}

@keyframes menu_open {
  from{right:-100%;}
  to{right:0;}
}

@keyframes menu_close {
  from{right:0;}
  to{right:-100%;}
}

