*, *:before, *:after {
  box-sizing: border-box;
}

::-webkit-scrollbar{
width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
background: #1e2939;
}

/* Handle */
::-webkit-scrollbar-thumb {
background:  #eff3f8;
border: 1px solid rgb(31, 27, 83);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background:  #b2c4df;
}

/*
  #eff3f8
  #b2c4df
  #6689bf
  #3d5272
  #1e2939
*/

.App {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #eff3f8;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.Header {
  height: 3rem;
  width: 100%;
  z-index: 10;
  background-color: rgb(39, 0, 98);
  border-bottom: 0.1rem solid white;
  font-size: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;  
  padding: 0 1rem;
  font-weight: 700;
  color: white;
  
}

.App-Main_View {
  padding-top: 3rem;
  flex: 1;
  display: flex;
  height: 100%;
  background-color: #6689bf;
  flex-direction: column ;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden; 
}
.App-Splash_Left {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: rgb(39, 0, 98);
  left: 0%;
  animation: splash_lt 2.5s ease-in;
}
.App-Splash_Right {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0%;
  background-color: rgb(39, 0, 98);
  animation: splash_rt 2.5s ease-in ;
}

.App-Splash_Logo {
  opacity: 0;
  font-size: 1.5rem;
  z-index: 10;
  animation: splash_logo 0.7s 2s ease-in forwards; 
}
.App-Splash_Wrapper {
  height: 100%;
  width: 100%;
  background-image: url('images/creativity.jpg');
  background-size: 100% 100%;
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  animation: splash_close 1.4s 3.2s forwards;
  z-index: 10;
}
.App-Main-Section {
  width: 100%;
  height: auto;
  flex-direction: column;
}

.App-Main-Section-Header {
  width: 100%;
  position: relative;
  background: #b2c4df;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-wrap: wrap;
}

.App-Main-Profile {
width: 300px;
height: 300px;
min-width: 300px;
display: flex;
justify-content: center;
align-items: center;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.App-Main-Profile > img{
border-radius: 100%;
border: 2px solid white;
}

.App-Main-Profile-Info {
  background-color: #3d5272;
  height: auto;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.App-Main-Profile-Info > div {
  background-color: 	#6689bf;
  width: 95%;
  min-height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem;
  border: 1px solid white;
}

.App-Main-Projects_Wrapper {
  width: 100%;
  flex-direction: column;
  display: flex;
  flex: 1;
}
.App-Main-Blog_Wrapper {
  width: 100%;
  flex-direction: column;
  display: flex;
  flex: 1;
}
.App-Main-Traits_Wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex: 1;
}
.App-Main-Projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}
.App-Main-Traits {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}
.App-Main-Blog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  background-color: #b2c4df;
}

.App-Main-Projects_Wrapper header,
.App-Main-Blog_Wrapper header{
  width: 100%;
  height: 3rem;
  padding: 1rem 0;
  display: flex;
  justify-content: left;
  padding-left: 1rem;
  align-items: center;
  background-color:  rgb(39, 0, 98);
  color: white; 


}



.App-Main-Projects > div  {
  margin: 1.2rem;
  border-bottom: '1px solid black';
  border-radius: 10px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  background: #3d5272;
  border: 1px solid white;
  opacity: 0.8;
  cursor: pointer;
}

.App-Main-Projects > div:hover {
  opacity: 1;
  border: 1px solid #3d5272;
}
.App-Main-Traits > div  {
  margin: 1.2rem;
  opacity: 0.7;
  height: 250px; 
  width: 250px; 
  border: 1px solid black; 
  background-color: #3d5272; 
  border-radius: 5px;
  animation: glow 1.5s ease-in-out infinite alternate;
}
.App-Main-Blog > div  {
  margin: 1.2rem;
}

.App-Main-Menu-Close, .App-Main-Menu-Open {
  height: 100%;
  width: 300px;
  background-color: rgb(39, 0, 98);
  border-left: 2px solid #b2c4df; 
  position: fixed;
  top:3rem;
  z-index: 8;
}
.App-Main-Menu-Close {
  animation: menu_close 1s forwards;
}

.App-Main-Menu-Open {
  animation: menu_open 1s forwards;
}

@keyframes splash_lt{
  0%{ left: -100%}
  100%{left: 0}
}
@keyframes splash_rt{
  from{right: -100%}
  to{right: 0}
}
@keyframes splash_logo {
  from{opacity: 0}
  to{opacity: 1}
}
@keyframes splash_close {
  from{opacity: 1; height: 100%;}
  to{opacity: 1; height: 0;}
}

@keyframes menu_open {
  from{right:-100%;}
  to{right:0;}
}

@keyframes menu_close {
  from{right:0;}
  to{right:-100%;}
}

@keyframes glow {
  from{border: 2px solid white}
  to{border: 2px solid transparent}
}
