.App {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
}

.Header {
  flex: 1;
  height: 3rem;
  background-color: rgb(39, 0, 98);
  border-bottom: 0.1rem solid black;
  font-size: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;  
  padding: 0 1rem;
  font-weight: 700;
  color: white;
}

.App-Main_View {
  flex: 1;
  height: calc(100% - 2rem);
  background-color: whitesmoke;
  flex-direction: column ;
  overflow-y: auto;
  overflow-x: hidden; 
  position: relative;
}
.App-Splash_Left {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: red;
  left: 0%;
  animation: splash_lt 1s ease-in;
}
.App-Splash_Right {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0%;
  background-color: red;
  animation: splash_rt 1s ease-in;
}

.App-Splash_Logo {
  opacity: 0;
  font-size: 1.5rem;
  z-index: 10;
  animation: splash_logo 0.7s 1.4s ease-in forwards; 
}
.App-Splash_Wrapper {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  animation: splash_close 1.4s 3.2s forwards;
  z-index: 10;
}
.App-Main-Section {
  width: 100%;
  min-height: 100%;
}

.App-Main-Section-Header {
  width: 100%;
  min-height: 300px;
  position: relative;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.App-Main-Profile {
width: 300px;
height: 300px;
min-width: 300px;
display: flex;
justify-content: center;
align-items: center;
}
.App-Main-Profile > img{
border-radius: 100%;
border: 2px solid white;
}

.App-Main-Profile-Info {
  background-color: green;
  height: auto;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.App-Main-Profile-Info > div {
  background-color: purple;
  width: 95%;
  min-height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-Main-Projects_Wrapper {
  width: 100%;
  flex-direction: column;
  display: flex;
}
.App-Main-Projects {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  flex: 1;
  background-color: teal;
}

.App-Main-Projects_Wrapper header {
  width: 100%;
  flex:1;
  padding: 1rem 0;
  background-color: red;
}

.App-Main-Projects > div {
  margin: 1.2rem;
}

.App-Main-Menu-Close, .App-Main-Menu-Open {
  height: 100%;
  width: 50%;
  min-width: 300px;
  background-color: gray;
  position: absolute;
  top:0;
  z-index: 8;
}
.App-Main-Menu-Close {
  animation: menu_close 1s forwards;
}

.App-Main-Menu-Open {
  animation: menu_open 1s forwards;
}

@keyframes splash_lt{
  0%{ left: -100%}
  100%{left: 0}
}
@keyframes splash_rt{
  from{right: -100%}
  to{right: 0}
}
@keyframes splash_logo {
  from{opacity: 0}
  to{opacity: 1}
}
@keyframes splash_close {
  from{opacity: 1; height: 100%;}
  to{opacity: 1; height: 0;}
}

@keyframes menu_open {
  from{right:-100%;}
  to{right:0;}
}

@keyframes menu_close {
  from{right:0;}
  to{right:-100%;}
}

